:root{
    --root-color1: #BD9669;
    --root-color2: #F7F7F7;
    --root-color3: #FFFFFF;
    --root-color4: #A0834E;
    --root-color5: #0B0B0B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--root-color2);
}
body{
    background-color: var(--root-color5);
}
#logo{
    width: 200px;
    border-radius: 300px;
    margin-top: 5px;

}
#principalTitle{
    color: var(--root-color1);
    text-align: center;
    font-size: 40px;
    font-family: var(--root-font-family);
}
#h3Section {
    color: var(--root-color5);
    font-style: italic;
    width: 50%;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 14px;
}
#contanier{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 20px;
    margin: 20px;
}
#filterSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: var(--root-color2);
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start; /* ← Evita que se estire con la grid */
}
#filterSection:hover{
    box-shadow: -5px -5px 9px var(--root-color4),
                5px -5px 9px var(--root-color4),
                -5px 5px 9px var(--root-color4),
                5px 5px 9px var(--root-color4);
}
#contanier img{
    width: 100%;
    height: 280px;
    object-fit:cover; 
    border-radius: 5px;
    cursor: pointer;
}
.productsSection{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.productsSection:hover {
    box-shadow: -5px -5px 9px var(--root-color4),
                5px -5px 9px var(--root-color4),
                -5px 5px 9px var(--root-color4),
                5px 5px 9px var(--root-color4);
}
#productsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  
}
#productsButton{
    background-color: var(--root-color1);
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
@media (max-width: 520px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #contanier{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 20px;
        margin: 20px;
    }
    #filterSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center ;
        background-color: var(--root-color2);
        padding: 20px;
        border-radius: 10px;
        align-self: flex-start; /* ← Evita que se estire con la grid */
    }
    #contanier img{
        width: 70%;
        height: 280px;
        object-fit:cover; 
        border-radius: 5px;
    }
    .productsSection{
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }
    .productsSection:hover {
    box-shadow: -5px -5px 9px var(--root-color4),
                5px -5px 9px var(--root-color4),
                -5px 5px 9px var(--root-color4),
                5px 5px 9px var(--root-color4);
    }
    #productsWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }
    
    #productsButton{
        background-color: var(--root-color1);
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
    }
    #productsButton:hover{
        background-color: var(--root-color4);
    }
}
@media(min-width: 521px) and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #contanier{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 20px;
        margin: 20px;
    }
    #filterSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: var(--root-color2);
        padding: 20px;
        border-radius: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #contanier img{
        width: 70%;
        height: 280px;
        object-fit:cover; 
        border-radius: 5px;
    }
    .productsSection{
        cursor: pointer;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    .productsSection:hover {
    box-shadow: -5px -5px 9px var(--root-color4),
                5px -5px 9px var(--root-color4),
                -5px 5px 9px var(--root-color4),
                5px 5px 9px var(--root-color4);
    }
    #productsWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }

    #productsButton{
        background-color: var(--root-color1);
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
    }
    #productsButton:hover{
        background-color: var(--root-color4);
    }
}
@media (min-width: 769px) and (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    #contanier{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 20px;
        margin: 20px;
    }
    #filterSection {
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: var(--root-color2);
        padding: 20px;
        border-radius: 10px;
        margin-left: 25%;
        margin-right: 25%;
    }
    #contanier img{
        width: 70%;
        height: 280px;
        object-fit:cover; 
        border-radius: 5px;
    }
    .productsSection{
        cursor: pointer;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    .productsSection:hover {
    box-shadow: -5px -5px 9px var(--root-color4),
                5px -5px 9px var(--root-color4),
                -5px 5px 9px var(--root-color4),
                5px 5px 9px var(--root-color4);
    }
    #productsWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }

    #productsButton{
        background-color: var(--root-color1);
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
    }
    #productsButton:hover{
        background-color: var(--root-color4);
    }
}